.testimonial {
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--c-body-bg);

  @include m_query($bp-lg) {
    padding: 40px;
  }

  &__title {
    font-size: var(--fs-4);
    font-weight: 700;
    color: var(--c-primary);
  }

  &__items {
    margin-top: 40px;

    .swiper {
      width: 100%;
      height: fit-content;
      padding-bottom: 80px;

      .swiper-button-prev,
      .swiper-button-next {
        font-size: 22px;
        background-color: var(--c-body-bg);
        border: 1px solid var(--c-primary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 90%;
        color: var(--c-primary);

        @include m_query($bp-md) {
          top: 85%;
        }
      }

      .swiper-wrapper {
        height: fit-content;

        .swiper-slide {
          border: 1px solid black;
          padding: 30px 20px;
          height: 100%;

          @include m_query($bp-xl) {
            width: 20% !important;
          }

          @include m_query($bp-lg) {
            width: 28% !important;
          }

          @include m_query($bp-md) {
            width: 43% !important;
            padding: 20px;
          }

          @include m_query($bp-sm) {
            width: 86% !important;
            max-width: 350px !important;
          }

          .stars {
            .filled {
              color: var(--c-primary);
            }
          }

          .content {
            font-size: var(--fs-base);
            font-weight: 400;
            color: var(--c-primary);
            line-height: normal;
            margin: 0;
            margin-top: 10px;
          }

          .extra-info {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            color: var(--c-second);
            font-size: var(--fs-n1);
            font-weight: 600;
          }
        }
      }
    }
  }
}