.hero {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 60px 0;
  display: flex;
  column-gap: 50px;
  align-items: center;

  @include m_query($bp-lg) {
    padding: 60px 40px;
  }

  @include m_query($bp-md) {
    flex-wrap: wrap;
    row-gap: 60px;
  }

  @include m_query($bp-sm) {
    row-gap: 30px;
  }

  .box {
    flex: 1;

    @include m_query($bp-md) {
      flex: auto;
      width: 100%;
    }
  }

  &__info {
    .wrapper {
      max-width: 90%;

      @include m_query($bp-md) {
        max-width: 100%;
        text-align: center;
      }

      h1 {
        font-size: var(--fs-5);
        line-height: normal;
        color: var(--c-primary);
        font-weight: 700;

        @include m_query($bp-md) {
          font-size: 35px;
        }
      }

      p {
        font-size: var(--fs-base);
        font-weight: 400;
        color: var(--c-primary);
        margin-top: 20px;
        line-height: 30px;

        @include m_query($bp-md) {
          font-size: 18px;
        }
      }

      .buttons {
        display: flex;
        column-gap: 15px;

        @include m_query($bp-md) {
          flex-wrap: wrap;
          row-gap: 15px;
        }

        a {
          flex: 1;
          max-width: 50%;
          padding: 15px 30px;
          text-align: center;
          font-size: var(--fs-base);
          font-weight: 400;
          transition: var(--g-trans);

          @include m_query($bp-md) {
            flex: auto;
            max-width: 100%;
          }
        }

        .btn-1 {
          background-color: var(--c-primary);
          color: var(--c-body-bg);

          &:hover {
            background-color: var(--c-primary-hover);
          }
        }

        .btn-2 {
          border: 1px solid var(--c-primary);
          color: var(--c-primary);
        }
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      max-width: 85%;
      height: 500px;
      border-radius: 12px;
      object-fit: cover;

      @include m_query($bp-lg) {
        width: 95%;
        max-width: 100%;
        height: auto;
      }

      @include m_query($bp-md) {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1/1;
      }
    }
  }
}