.contact-pg {

    .row-form {
        box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.20);
    }

    &__title-wrp {
        text-align: center;
        margin-bottom: var(--sp-40);
    }

    &__title {
        font-size: var(--fs-5);
        color: var(--c-primary);
        margin: 0;
    }

    &__subtitle {
        font-family: var(--ff-secondary);
        font-size: var(--fs-3);
    }

    &__subtitle-2 {
        font-size: var(--fs-3);
    }

    &__form-wrp {
        padding: var(--sp-64);
        height: 100%;

        h2 {
            font-size: var(--fs-3);
        }
    }

    &__other-info {
        padding: var(--sp-64);
        background: var(--c-primary);
        color: white;
        height: 100%;

        >*+* {
            margin-top: var(--sp-40);
        }
    }

    &__info-item {
        display: flex;
        align-items: center;

        .icon {
            --size: 2.4rem;
        }
    }

    &__info-content {
        padding-left: 0.6rem;
    }

    &__info-label {
        font-family: var(--ff-secondary);
        text-transform: uppercase;
        line-height: 1;
    }

    &__info-value {
        font-size: .9375rem;

        a{
            text-decoration: none;
            color: white;

            @include hover{
                color: var(--c-accent);
            }
        }
    }
}

#contact-pg-form {
    /*
    ——— Form
    */

    .wpforms-field-container {
        >* {
            padding: 0;
        }

        >* + *{
            margin-top: var(--sp-32);
        }
    }

    label {
        margin: 0;
        font-size: var(--fs-1);
        font-family: var(--ff-secondary);
        color: var(--c-primary);
    }

    input,
    textarea {
        border: none;
        border-bottom: 1px solid #B2B5BC;
        padding: 0;
    }

    textarea {
        padding-top: .5rem;
    }


    .wpforms-submit-container {
        text-align: center;
    }

    .wpforms-submit {
        width: 100%;
        max-width: 250px;
        border-radius: 0;
        background: var(--c-primary);
        font-family: var(--ff-secondary);
        font-size: var(--fs-1);
        padding: 0.5rem 1rem;
        min-height: 3rem;

        @include hover{
            background: var(--c-accent);
            color: var(--c-primary);
        }
    }
}