/*————————————————————————————————————————————————————*\
    ●❱ Homepage
\*————————————————————————————————————————————————————*/

.sc-podcast {
    .title-wrp {
        display: flex
    }

    .sc-title {
        width: fit-content;
    }
}

.sc-reportajes {
    .sc-title {
        margin-bottom: .75rem;
    }
}

.sc-voces {
    .sc-title {
        margin-bottom: .75rem;
    }
}

.sc-editorial {
    overflow: hidden;

    .sc-title {
        margin-bottom: 1.25rem;
    }

    .row-content {
        --bs-gutter-x: 6.25rem;

        @include m_query($bp-lg) {
        --bs-gutter-x: 3.25rem;

        }
    }
}

/*————————————————————————————————————————————————————*\
    ●❱ ARCHIVES
\*————————————————————————————————————————————————————*/

.sc-editorial-cover {
    .featured-box {
        padding: var(--fs-5);
        background: var(--c-primary-light);

        >*+* {
            margin-top: 1rem;
            position: relative;

            &::before {
                --size: 100%;
                content: "";
                position: absolute;
                top: -0.5rem;
                left: 0;
                width: var(--size);
                height: 1px;
                background: var(--c-primary-light-2);
            }
        }
    }
}

/*  |> Paginate loop
——————————————————————————————————————————————————————*/

.paginate-links{
    display: flex;
justify-content: center;

.page-numbers {
    width: 40px;
    height: 40px;
    // border-radius: 50px;
    background: var(--c-primary-light);
    font-weight: 700;
    border: 2px solid transparent;
    color: var(--c-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    transition: .3s all;
    text-decoration: none;
    font-size: 1.125rem;

    &:hover {
        background: var(--c-primary);
        color: white;
    }

    &.current {
        background: var(--c-primary);
        border: none;
        color: white;
        box-shadow: 0px 6px 10px 0px rgba(0, 78, 218, 0.40);

        // &:hover {
        //     background: var(--c-primary-light);
        //     color: var(--c-primary);
        // }
    }

    &.dots {}

    &.next,
    &.prev {
        display: none;
    }
}
}