.container_wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 40px;

    @media (max-width: 768px) {
        padding-inline: 30px;
    }

    @media (max-width: 425px) {
        padding-inline: 16px;
    }
}

// #wpadminbar{
//     display: none;
// }